<h1>
  <% if @recipe.featured? %>
    <%= image_tag 'star.png' %>
  <% end %>
  <%= @recipe.title %>
</h1>
<h3>Detalhes</h3>
<p>
  <%= image_tag @recipe.photo.url(:medium) %>
  <br>
  Tipo da Receita: <%= @recipe.recipe_type.name %>
  <br>
  Cozinha: <%= @recipe.cuisine.name %>
  <br>
  Dificuldade: <%= @recipe.difficulty %>
  <br>
  Tempo de Preparo: <%= @recipe.cook_time %> minutos
</p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.method %></p>

<% if user_signed_in? && current_user == @recipe.user %>
  <%= link_to 'Editar', edit_recipe_path %>
<% end %>
<% if user_signed_in? %>
  <%= form_tag email_to_friend_recipe_path  do %>
    <%= label_tag :friend_email, 'Email' %>
    <%= text_field_tag :friend_email %>
    <%= label_tag :message_to_friend, 'Mensagem' %>
    <%= text_field_tag :message_to_friend %>
    <%= submit_tag 'Enviar para um amigo' %>
  <% end %>
<% end %>
  <%= link_to 'Voltar', root_path %>
