<% if user_signed_in? %>
<h2>Minhas Receitas</h2>
<% end %>

<h2>Receitas</h2>
<% @recipes.each do |recipe| %>
  <h1>
    <% if recipe.featured? %>
      <%= image_tag 'star.png' %>
    <% end %>
    <%= link_to recipe.title, recipe %>
  </h1>

  <ul>
    <%= image_tag recipe.photo.url(:medium) %>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos </li>
  </ul>
<% end %>

<h4>Cozinhas</h4>
<% @cuisines.each do |cuisine| %>
  <li><%= link_to cuisine.name, cuisine %></li>
<% end %>
<h4>Tipos de Receita</h4>
<% @recipe_types.each do |recipe_type| %>
  <li><%= link_to recipe_type.name, recipe_type %></li>
<% end %>
