<!DOCTYPE html>
<html>
  <head>
    <title>MyCookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav title">
            <h1>CookBook</h1>
            <p>Bem-vindo ao maior livro de receitas online</p>
          </ul>
          <ul class="nav navbar-nav navbar-right menu">
            <% if user_signed_in? %>
            <li>
              <%= link_to 'Enviar uma receita', new_recipe_path %>
            </li>
            <li>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to 'Entrar', new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert"><%= flash[:notice] %></div>
    <% end %>

    <div>
      <%= flash[:message] %>
    </div>
    <div class="container content">
      <%= yield %>
    </div>
  </body>
</html>
